/* ============================================= common style */
body {
  font-weight: 300;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: rgb(73, 73, 73);
}

h3 {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

header,
section,
footer {
  position: relative;

  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

a {
  color: #000000;
}

a:hover {
  color: #ff5000;
  text-decoration: none;
}

button:active,
button:focus,
input:active,
input:focus {
  outline: none !important;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0 !important;
}

.wrap {
  max-width: 1480px;
  margin: 0 auto;
  padding: 30px;
}

.title {
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #000000;
}

.subtitle {
  margin-bottom: 30px;

  font-size: 18px;
  text-align: center;
}

.trans * {
  -webkit-transition: .2s;
     -o-transition: .2s;
      transition: .2s;
}

/* ============================================= header */
.header {
  margin-bottom: -30px;
}

.wrap_header {
  -ms-flex-direction: column;
    flex-direction: column;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.header-top__logo {
  width: 127px;
  margin-right: 120px;
}

.header-top__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-size: 14px;
}

.header-top__nav li {
  margin-right: 40px;
}

.header-top__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
    flex-direction: column;
  margin-left: auto;

  font-size: 14px;
  line-height: 1.3;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

/* hamburger */
.hamburger {
  display: none;
}

.hamburger-nav-wrap {
  position: fixed;
  top: 108px;
  right: -5000px;
  z-index: 1000;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, .7);

  -webkit-transition: .6s;
     -o-transition: .6s;
      transition: .6s;

  -webkit-box-pack: end;
  -ms-flex-pack: end;
}

.hamburger-nav-wrap_active {
  right: 0;
}

.hamburger-nav {
  -ms-flex-direction: column;
    flex-direction: column;
  padding: 20px 30px;

  background-color: #ffffff;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.hamburger-nav__bottom::after {
  display: none;
}

.hamburger-nav__contacts {
  display: none;
}

.hamburger-nav ul {
  position: relative;

  margin-bottom: 50px;
}

.hamburger-nav ul::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: rgb(190, 190, 190);
}
/* hamburger end */

.header-bottom__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.header-bottom__nav li a {
  display: block;
  width: 210px;
  padding: 10px 15px;

  text-align: center;
  color: #c4c4c4;

  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .2);
      box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}

.header-bottom__nav li a:hover,
.header-bottom__nav .link-active {
  color: #000000;
}

/* ============================================= banner */
.banner {
  margin-bottom: 70px;
  overflow: hidden;
}

.banner-content {
  position: absolute;
  top: 0;
  right: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
    flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  padding: 50px;

  color: #ffffff;

  background-color: rgba(0, 0, 0, .4);

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.banner-content__title {
  max-width: 650px;

  font-size: 36px;
}

.banner-content__subtitle {
  max-width: 650px;

  font-size: 24px;
}

.banner-content__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-size: 20px;
}

.banner-content__control div {
  position: relative;

  width: 20px;
  height: 40px;

  cursor: pointer;
}

.banner-content__control div::after {
  content: "";
  position: absolute;

  display: block;
  width: 20px;
  height: 40px;
}

.banner-content__control-left {
  margin-right: 30px;
}

.banner-content__control-left::after {
  background: url(./img/arrow/left.png) no-repeat center center;
}

.banner-content__control-right::after {
  background: url(./img/arrow/right.png) no-repeat center center;
}

.banner-content__text {
  max-width: 650px;
  margin-bottom: 0;

  font-size: 20px;
}

/* ============================================= features */
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin: 0 -10px;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.features-item {
  max-width: 210px;
  height: 210px;
  margin: 10px;
  padding: 5px 15px 20px;

  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .2);
      box-shadow: 0 0 16px rgba(0, 0, 0, .2);
}

.features-item__icon {
  max-width: 130px;
  margin: 0 auto;
}

.features-item__icon img {
  width: 100%;
}

.features-item__text {
  font-size: 20px;
  text-align: center;
}

/* ============================================= type */
.type {
  width: 100%;
  margin-bottom: 50px;
}

.type-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;

  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .25);
      box-shadow: 0 0 4px rgba(0, 0, 0, .25);

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.type-item:nth-child(even) {
  -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;

  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
}

.type-item:nth-child(even) .slick-next {
  left: 0;
}

.protection-item:nth-child(odd) {
  -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;

  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
}

.protection-item:nth-child(even) {
  -ms-flex-direction: row;
    flex-direction: row;

  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
}

.protection-item:nth-child(odd) .slick-next {
  left: 0;
}

.protection-item:nth-child(even) .slick-next {
  left: auto;
}

.type-item__slider {
  width: 100%;
  max-width: 580px;
}

.type-item__slider img {
  width: 100%;
  height: auto;
}

.type-item__slider .slick-next {
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 100%;

  background-color: rgba(0, 0, 0, .3);
  border: none;
  cursor: pointer;
}

.type-item__slider .slick-next::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 20px;

  display: block;
  width: 20px;
  height: 40px;

  background: url(./img/arrow/right.png) no-repeat center center;
}

.type-item__text {
  padding: 16px 20px;
}

.type-item__text p {
  margin-bottom: 0;
}

.type-item__text_black {
  font-weight: 400;
  color: black;
}

.type-item__text a {
  line-height: 2.5;
  color: #ff5000;
}

.download-catalog {
  text-align: center;
}

.download-catalog a {
  margin: 0 auto;
  padding: 7px 30px;

  color: #ff5000;

  border: 1px solid #ff5000;
  border-radius: 20px;

  -webkit-transition: .2s;
     -o-transition: .2s;
      transition: .2s;
}

.download-catalog a:hover {
  color: #ffffff;

  background-color: #ff5000;
}

/* ============================================= products */
.products {
  position: relative;

  padding: 0 30px;
}

.products .slick-arrow {
  position: absolute;
  top: 0;

  width: 22px;
  height: 100%;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.products .slick-prev {
  left: 0;
}

.products .slick-next {
  right: 0;
}

.products .slick-prev::after,
.products .slick-next::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 22px;
  height: 40px;
  margin-top: -50%;

  background: url(./img/arrow/left-dark.png) no-repeat center center;
}

.products .slick-next::after {
  background: url(./img/arrow/right-dark.png) no-repeat center center;
}

.products-item {
  min-height: 230px;
  margin: 10px;
  padding: 20px 10px;

  border-radius: 4px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .25);
      box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}

.products-item__icon {
  max-width: 115px;
  margin: 0 auto 20px;
}

.products-item__icon img {
  width: 100%;
  height: auto;
}

.products-item__text {
  font-size: 20px;
  text-align: center;
}

/* ============================================= cloth */
.cloth {
  width: 100%;
  margin-bottom: 50px;

  background: url(./img/cloth.png) no-repeat center center;
  background-size: cover;
}

.cloth__text {
  max-width: 730px;
  padding: 110px 50px;

  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;

  background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,.8)),to(rgba(255,255,255,0)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,.8) 0%,rgba(255,255,255,0) 100%);
  background:      -o-linear-gradient(left, rgba(255,255,255,.8) 0%,rgba(255,255,255,0) 100%);
  background:         linear-gradient(to right, rgba(255,255,255,.8) 0%,rgba(255,255,255,0) 100%);
}

.cloth__text p:last-child {
  margin-bottom: 0;
}

/* ============================================= prices */
.products-item__text-prices h3 {
  font-size: 20px;
}

.products-item__text-prices p {
  font-size: 18px;
}

.products-item__text-prices p span {
  color: #ff5000;
}

.prices-item__icon {
  max-width: 290px;
}

/* ============================================= contacts */
.section_contacts {
  background: url(./img/contacts/bg-contacts.png) no-repeat center center;
  background-size: cover;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0;

  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-pack: distribute;
}

.contacts-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
    flex-direction: column;
  margin-right: 40px;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.contacts-form input {
  width: 220px;
  height: 30px;
  margin-bottom: 20px;
  padding: 0 20px;

  font-size: 14px;
  color: #757575;

  border: none;
  border-radius: 110px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .25);
      box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}

.contacts-form input::-webkit-input-placeholder {
  color: #c4c4c4;
}

.contacts-form input:-ms-input-placeholder {
  color: #c4c4c4;
}

.contacts-form input::-ms-input-placeholder {
  color: #c4c4c4;
}

.contacts-form input::placeholder {
  color: #c4c4c4;
}

.contacts-form input:last-child {
  color: #ffffff;

  background-color: rgba(0, 0, 0, .15);
  -webkit-box-shadow: none;
      box-shadow: none;
  cursor: pointer;

  -webkit-transition: .2s;
     -o-transition: .2s;
      transition: .2s;
  ;;
}

.contacts-form input:last-child:hover {
  background-color: rgba(0, 0, 0, .4);;
}

.managers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.manager {
  margin: 0 10px 30px;

  text-align: center;
}

.manager__foto {
  margin-bottom: 20px;
}

.manager a {
  display: block;
}

.manager a:hover {
  color: #000000;
}

.manager__name {
  margin-bottom: 10px;

  font-weight: 400;
}

.manager__position {
  margin-bottom: 0;

  font-size: 14px;
}

.manager__phone {
  font-size: 14px;
}

.manager__email {
  font-size: 14px;
  color: #ff5000;
}

/* ============================================= seo */

/* ============================================= footer */
.footer {
  background-color: #e1e0e0;
}

.footer_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-pack: distribute;
  -ms-flex-wrap: wrap;
}

.footer-nav {
  margin: 10px 10px 20px;

  font-size: 14px;
}

.footer-certificate {
  margin: 10px 10px 20px;
}

.footer-certificate__img {
  width: 60px;
  margin: 0 auto 20px;
}

.footer-certificate__img img {
  display: block;
  width: 100%;
  height: auto;
}

.footer-certificate__text {
  font-size: 14px;
  text-align: center;
}

.footer-certificate__text p {
  margin-bottom: 0;
}

.footer-currency {
  width: 340px;
  height: 100px;
  margin: 10px 10px 20px;

  border: 2px solid #717070;
}



/* =================================================== */
/* ============================================= media */
/* =================================================== */
@media screen and (max-width: 1490px) {
  /* ============================================= banner */
  .banner-content__title {
    line-height: 1.2;
  }

  .banner-content__subtitle {
    line-height: 1.2;
  }

  .banner-content__text {
    line-height: 1.2;
  }

  .banner-content {
    padding: 30px;
  }
}

/* ==================================== */
/* =============== 1360 =============== */
/* ==================================== */
@media screen and (max-width: 1360px) {
  /* ============================================= header */
  .header-top {
    margin-bottom: 30px;
  }

  .header-top__nav {
    display: none;
  }

  .header-bottom {
    display: none;
  }

  .hamburger {
    display: block;
  }

  /* ============================================= features */
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
      flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -ms-flex-wrap: wrap;
  }
}

/* ==================================== */
/* =============== 1200 =============== */
/* ==================================== */
@media screen and (max-width: 1200px) {
  /* ============================================= banner */
  .banner-content {
    width: 70%;
  }

  /* ============================================= contacts */
  .contacts {
    -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;

    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
  }

  .contacts-form {
    margin-right: 0;
  }
}

/* ==================================== */
/* ================ 992 =============== */
/* ==================================== */
@media screen and (max-width: 992px) {
  /* ============================================= common */
  .wrap {
    padding: 30px 15px;
  }

  /* ============================================= type */
  .wrap_type {
    padding: 30px 0;
  }
  .type-item__slider {
    margin-top: 20px;
  }

  .type-item {
    -ms-flex-direction: column;
      flex-direction: column;

    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
  }

  .type-item:nth-child(even) {
    -ms-flex-direction: column;
      flex-direction: column;

    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
  }

  .protection-item:nth-child(odd) {
    -ms-flex-direction: column;
      flex-direction: column;

    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
  }

  /* ============================================= cloth */
  .wrap_cloth {
    padding: 30px 0;
  }
}

/* ==================================== */
/* ================ 768 =============== */
/* ==================================== */
@media screen and (max-width: 768px) {
  /* ============================================= banner */
  .banner-content {
    width: 100%;
  }

  /* ============================================= cloth */
  .cloth__text {
    padding: 70px 30px;
  }

  /* ============================================= contacts */
  .managers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
      flex-wrap: wrap;
    justify-content: space-around;

    -ms-flex-pack: distribute;
    -ms-flex-wrap: wrap;
  }
}

/* ==================================== */
/* ================ 576 =============== */
/* ==================================== */
@media screen and (max-width: 576px) {
  /* ============================================= header */
  .header-top__logo {
    margin-right: 20px;
  }

  .header-top__contacts {
    display: none;
  }

  .hamburger-nav__contacts {
    display: block;
  }

  .hamburger-nav-wrap {
    justify-content: center;

    background-color: #ffffff;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }

  /* ============================================= banner */
  .banner-slider {
    height: 370px;
  }

  .banner-content {
    padding: 15px;
  }

  .banner-content__title {
    font-size: 26px;
  }

  .banner-content__subtitle {
    font-size: 18px;
  }

  .banner-content__text {
    font-size: 16px;
  }

  .banner-content__control {
    display: none;
  }

  /* ============================================= cloth */
  .cloth {
    width: 100%;
    margin: 0 -15px 50px 0;

    background: url(./img/cloth.png) no-repeat center center;
    background-size: cover;
  }

  .cloth__text {
    font-size: 18px;
  }
}

/* ==================================== */
/* ================ 400 =============== */
/* ==================================== */
/* ============================================= banner */
@media screen and (max-width: 400px) {
  .banner-content__title {
    font-size: 20px;
  }

  .banner-content__subtitle {
    max-width: 650px;

    font-size: 16px;
  }
}
